<% if current_user %><% set_category_user('blog') %><% end %>
<% get_topic_view(params[:param], opts: { include_suggested: false, include_related: false, post_number: 1 }, instance_var: "topic_view", set_page_title: true) %>

<% content_for :head do %>
  <meta name="description" content="Pavilion's example blog for our Blog Landing Pages">
  <meta property="og:title" content="<%= @page_title %>" />
  <meta property="og:description" content="<%= @topic_view.posts.first.excerpt_for_topic %>" />
  <meta property="og:image" content="<%= @topic_view.topic.image_url %>" />
<% end %>

<%= render partial: "header", locals: {
  logo_url: "https://pavilion-assets.nyc3.digitaloceanspaces.com/landing/logo-blog.png",
  title: "Try Blog",
  root: "/blog"
} %>

<% if @topic_view.present? %>
  <div class="title-container" <% unless mobile_view? %> style="background-image: url(<%= @topic_view.topic.image_url %>) <% end %>">
    <div class="contents canvas">
      <h1 title="<%= @topic_view.title %>" class="title"><%= @topic_view.title %></h1>
      <%= render partial: 'topic_byline', locals: {
        topic: @topic_view.topic,
        include_link: true,
        user_profile_opts: {
          include_avatar: true,
          avatar_size: 60
        }
      } %>
    </div>
  </div>
<% end %>

<a href="/blog" class="btn btn-fixed btn-blog" title="Posts">
  <div class="fixed-icon"><%= SvgSprite.raw_svg('stream') %></div>
  <% unless mobile_view? %>
    <div class="fixed-label">Posts</div>
  <% end %>
</a>

<% if @topic_view.present? %>
  <article class="post">
    <div class="container">
      <section class="post-content canvas">
        <%= ::LandingPages::Post.html(@topic_view.posts.first).html_safe %>
      </section>

      <div class="comment-container">
        <% if @topic_view.posts.length > 1 %>
          <div class="comment-heading"><h4>Comments</h4></div>
          <div class="comments canvas">
            <% @topic_view.posts[1..-1].each do |post| %>
              <div class="comment">
                <div class="comment-avatar">
                  <img width="35" height="35" class="img-avatar" src="<%= post.user.small_avatar_url %>">
                </div>
                <div class="comment-content">
                  <h3 class="comment-user" title="<%= post.user.username %>"><%= post.user.username %></h3>
                  <p><%= post.cooked.html_safe %></p>
                </div>
              </div>
            <% end %>
         </div>
       <% end %>
        <div class="comment-footer">
          <a class="btn btn-primary" href="<%= @topic_view.topic.url %>">Post a reply</a>
        </div>
      </div>
    </div>
  </article>
<% end %>

<div class="btn btn-fixed btn-subscribe <% if current_user %>user<% else %>guest<% end %>" title="Subscribe">
  <% if current_user %>
    <img class="fixed-avatar" src="<%= current_user.avatar_template_url.gsub("{size}", "65") %>">
  <% else %>
    <div class="fixed-icon"><%= SvgSprite.raw_svg('user-circle') %></div>
  <% end %>
  <% unless mobile_view? %>
    <div class="fixed-label">Subscribe</div>
  <% end %>
</div>

<% if current_user && @category_user.present? %>
  <%= render partial: 'modal', locals: {
    title: "Subscribe",
    class: "subscribe",
    content: render(partial: "subscription_form", locals: {
      category_id: @category_user.category.id,
      subscribed: (@category_user &&
        @category_user.notification_level >= CategoryUser.notification_levels[:watching_first_post]
      )
    })
  } %>
<% end %>
